{% extends 'base.html.twig' %}

{% block title %}New Receta{% endblock %}

{% block body %}
    <h1>Create new Receta</h1>

    {{ include('receta/_form.html.twig') }}

    <a href="{{ path('receta_index') }}">back to list</a>
{% endblock %}
