<form method="post" action="{{ path('restriccion_delete', {'id': restriccion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restriccion.id) }}">
    <button class="btn">Delete</button>
</form>
