{% extends 'base.html.twig' %}

{% block title %}Ingreso{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Error</h3>
                </div>
                <div class="card-body">
                    <h3 class="ErrorTextoLogin">Usuario Invalido</h3>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        <a class="btn float-right back_btn" href="/">Volver</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}