{% extends 'base.html.twig' %}

{% block title %}Ingreso{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Ingreso</h3>
                </div>
                <div class="card-body">
                    {{dump(datos)}}
                </div>
                <div class="card-footer">
                    Ingreso
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}