{% extends 'base.html.twig' %}

{% block title %}New Perfil{% endblock %}

{% block body %}
    <h1>Create new Perfil</h1>

    {{ include('perfil/_form.html.twig') }}

    <a href="{{ path('perfil_index') }}">back to list</a>
{% endblock %}
